.login-wrapper *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
  }
  
  .login-wrapper{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .background-img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
    filter: blur(5px) brightness(0.6);
  }
  
  
  .auth-container{
    width:380px;
    height:420px;
    position:relative;
  }
  
  .form-box{
    position:absolute;
    width:100%;
    padding:40px;
    background: rgba(0,0,0,0.85);
    border-radius:20px;
    text-align:center;
    color:white;
  
    opacity:0;
    transform:scale(0.9);
    pointer-events:none;
    transition:0.4s;
  }
  
  .form-box.active{
    opacity:1;
    transform:scale(1);
    pointer-events:all;
  }
  
  .form-box h2{
    margin-bottom:20px;
  }
  
  .form-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:none;
  }
  
  .form-box button{
    width:100%;
    margin-top:10px;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#00cec9;
    color:white;
    font-weight:bold;
    cursor:pointer;
  }
  
  .form-box button:hover{
    background:#0984e3;
  }
  
  .switch{
    margin-top:15px;
  }
  
  .switch span{
    color:#00cec9;
    cursor:pointer;
  }
  
  @media(max-width:480px){
    .auth-container{
      width:90%;
      height:auto;
    }
  
    .form-box{
      padding:30px 20px;
    }
  }

  .form-box{
    position:absolute;
    width:100%;
    padding:40px;
    background: rgba(0,0,0,0.85);
    border-radius:20px;
    text-align:center;
    color:white;
  
    opacity:0;
    transform: translateX(50px) scale(0.95);
    pointer-events:none;
  
    transition: all .5s ease;
  }
  
  .form-box.active{
    opacity:1;
    transform: translateX(0) scale(1);
    pointer-events:all;
  }
  
  .form-box.exit-left{
    transform: translateX(-50px) scale(.9);
    opacity:0;
  }
  
  .form-box.exit-right{
    transform: translateX(50px) scale(.9);
    opacity:0;
  }

.box {
    transition: all 0.3s ease;
}

.fadeOut {
    opacity: 0;
    transform: translateY(20px);
}

.active {
    opacity: 1;
    transform: translateY(0);
}
